# 다음 폴더의 파일들 무시
Data/*
Code/*
Code/tmp.py
Code/vanila_evaluation.py

# Code/Baselines/MIXER/*
# Code/Baselines/SCST/*
# Code/Proposed/*
# Code/training_log
# Code/results
# Code/figures
# Code/.vscode
# Code/AI_Nutrition_GAN
# Code/AI_Nutritionist
# Code/__pycache__
# Code/(new) tmp.py
# Code/evaluation_new.py
# Code/Preprocessing_new.py
# Code/util_new.py

# 다음 폴더의 파일들 고려
!Data (new)/*
# !Data/foods_ingredient(eng).csv
# !Data/foods_nutrition(eng).csv
# !Data/foods_type(eng).csv
# !Data/foods_kor_eng.csv
# !Data/human_menu(eng).csv
# !Data/new_diet.csv
# !Data/new_nutrition.csv

!Code/evaluation.py
!Code/main.py
!Code/Model.py
!Code/Preprocessing.py
!Code/train.py
!Code/util.py
!Code/README.md

# !Code/Proposed/Model.py
# !Code/Proposed/train.py
# !Code/Baselines/MIXER/Model.py
# !Code/Baselines/MIXER/train.py
# !Code/Baselines/SCST/Model.py
# !Code/Baselines/SCST/train.py
# !Code/Baselines/SCST/pretrain.py
