# 다음 폴더의 csv 파일들 무시
Data/*
!Data/foods_ingredient(eng).csv
!Data/foods_neutrition(eng).csv
!Data/foods_type(eng).csv
!Data/foods_kor_eng.csv
!Data/human_menu(eng).csv
Code/Baselines/MIXER/*
Code/Baselines/SCST/*
Code/Proposed/*
Code/results
Code/figures
Code/.vscode
Code/AI_Nutrition_GAN
Code/AI_Nutritionist
Code/__pycache__
!Code/Baselines/MIXER/Model.py
!Code/Baselines/MIXER/train.py
!Code/Baselines/SCST/Model.py
!Code/Baselines/SCST/train.py
!Code/Baselines/SCST/pretrain.py
